@import (reference) '../../../../assets/stylesheets/shared/main.less';
@import '../../../../assets/stylesheets/shared/_labels.less';

.f8launcher {
  &-section-release-strategy {
    .control-label {
      text-align: left;
    }
    .card-pf {
      &-heading {
        display: inline-flex;
        margin-bottom: 0;
        border: none;
        .card-pf-title {
          margin-bottom: 0;
        }
      }
      &-body {
        margin-top: -31px;
      }
    }
    &-toolbar {
      .toolbar-pf-actions {
        display: inline-flex;
        justify-content: flex-end;
      }
    }
    .list-group-item {
      &.suggested {
        border-top: 1px solid @color-pf-blue;
      }
    }
    .list-group-item-header {
      cursor: default;
      margin-left: 16px;
      margin-right: -16px;
      margin-top: -1px;
      padding: 0;
    }
    .list-group-item-container,
    .list-view-pf-main-info {
      cursor: pointer;
    }
    .list-view-pf-expand {
      margin-right: 7px;
      .fa-angle-down {
        padding-right: 6px;
      }
    }
  }
}
