<section id="ReleaseStrategy" class="f8launcher-section-release-strategy f8launcher-container_main--inside"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'ReleaseStrategy')"
          [debounce]="500">Select Pipeline</h1>
      <p>
        There are multiple different pipeliens that you can choose to deploy your application on. Each pipeline is comprised of different stages and has
        its own set of capabilities. Different stages of the pipeline include build releases, integration testing, staging, and running an application.
      </p>
      <p>
        We have provided a suggested pipeline so that you can easily get started.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Pipeline
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item"
                     [ngClass]="{'suggested': pipeline.suggested === true || pipeline.techpreview === true}"
                     *ngFor="let pipeline of (pipelines | sortArray: 'suggested': true)">
                  <div class="list-group-item-header">
                    <div class="f8launcher-tags"
                         *ngIf="pipeline.suggested === true || pipeline.techpreview === true">
                      <span class="f8launcher-tags-label suggested" container="body" triggers="click"
                            outsideClick="true"
                            popover="This pipeline provides an end-to-end process that moves your application from source code to production, with stages to build and test new versions, rollout to staging, review changes, await approval, and promote to production."
                            *ngIf="pipeline.suggested === true">
                        Suggested <i class="pficon pficon-info"></i>
                      </span>
                      <span class="f8launcher-tags-label techpreview" container="body" triggers="click"
                            outsideClick="true"
                            popover="Technology Preview"
                            *ngIf="pipeline.techpreview === true">
                        Tech Preview <i class="pficon pficon-info"></i>
                      </span>
                    </div>
                  </div>
                  <div class="list-view-pf-expand">
                        <span class="fa"
                              [ngClass]="{'fa-angle-down': pipeline.expanded === true,
                                          'fa-angle-right': pipeline.expanded !== true}"
                              (click)="toggleExpanded(pipeline)">
                        </span>
                  </div>
                  <div class="list-view-pf-checkbox">
                    <input name="pipelineId" type="radio"
                           [(ngModel)]="pipelineId"
                           [value]="pipeline.id"
                           (ngModelChange)="updatePipelineSelection(pipeline)">
                  </div>
                  <div class="list-view-pf-main-info"
                       (click)="pipelineId = pipeline.id; updatePipelineSelection(pipeline)">
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <ng-container *ngFor="let stage of pipeline.stages; let i = index">
                            <span class="f8launcher-pipeline-stages--line">
                              <span class="f8launcher-pipeline-stages--name">
                                {{stage.name || stage}}
                              </span>
                            </span>
                          <span class="f8launcher-pipeline-stages--arrow"
                                *ngIf="i !== pipeline.stages.length - 1"></span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item-container container-fluid"
                       (click)="pipelineId = pipeline.id; updatePipelineSelection(pipeline)"
                       *ngIf="pipeline.expanded === true">
                    <div class="row">
                      <div class="form-horizontal">
                        <div class="form-group col-sm-12" *ngFor="let stage of pipeline.stages">
                          <label class="col-sm-2 control-label">
                            {{stage.name}}
                          </label>
                          {{stage.description}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-link" [ngClass]="{'animate-continue': stepCompleted === true}" [disabled]="stepCompleted !== true"
          (click)="navToNextStep()">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-double-down fa-stack-1x fa-inverse"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
