@import (reference) '../../../assets/stylesheets/shared/main.less';

.f8launcher {
  .f8launcher-container {
    &_nav {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      grid-area: nav;
      height: 100vh;
      background-color: @color-pf-black-900;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 40px;
      width: 250px;
      @media screen and (max-width: 1024px) {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 250px;
        left: -250px;
        z-index: 10;
        transition: transform .3s ease-in-out;
        &:target {
          transform: translateX(250px);
        }
      }
      .f8launcher-vertical-bar {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: space-between;
        display: grid; /* stylelint-disable-line */
        // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: #bbb;
        width: 3px;
        /*
        ** Who has something this  small? (500px in height and up)
        */
        @media(min-height: 500px) {
          height: 77vh;
        }
        /*
        ** Small devices (tablets, 758px in height and up)
        */
        @media(min-height: 750px) {
          height: 80vh;
        }
        /*
        ** Medium devices (desktops, 980px in height and up)
        */
        @media(min-height: 980px) {
          height: 85vh;
        }
        /*
        ** Large devices (desktops, 1080px in height and up)
        */
        @media(min-height: 1080px) {
          height: 87vh;
        }
        /*
        ** Devices that are too tall (1440px in height and up...reasonably)
        */
        @media(min-height: 1440px) {
          height: 90vh;
        }
        border-radius: 10px;
        margin-left: 25px;
        @media screen and (max-width: 768px) {
          margin-top: 25px;
        }
        /*
         * this is only on the element when the wizard is in-progress.
         * once completed, this class is removed
         */
         &_application-title {
           // position: absolute;
           // top: -25px;
           margin-bottom: 45px;
           &:hover {
             &:after {
               position: absolute;
               top: 45px;
               right: 15px;
               font-family: PatternFlyIcons-webfont;
               content: '\e60a';
               color: @color-pf-blue;
             }
           }
           &-input {
             width: 200px;
             margin-left: 25px;
             border: none;
             border-bottom: 1px solid;
             border-bottom-color: #bbb;
             background: transparent;
             font-size: 1.42em; // ~20px
             color: @color-pf-white;
             &:hover,
             &:active,
             &:focus {
               border-bottom-color: @color-pf-blue !important; /* stylelint-disable-line */
             }
           }
           input {
             &::-webkit-input-placeholder,
             &::-moz-placeholder,
             &::-ms-input-placeholder,
             &::-moz-placeholder {
               color: @color-pf-white;
             }
           }
         }
        &.in-progress {
          background-image: linear-gradient(@color-pf-black-700, @color-pf-black-900);
        }
        a {
          margin-top: -20px;
          margin-left: -25px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-left: 3px solid;
          border-left-color: transparent;
          font-weight: 700;
          // font-size: 1.14em; // ~16px
          height: 60px;
          transition: background .3s, border .3s ease-in-out;
          -webkit-transition: background .3s, border .3s ease-in-out;
          -moz-transition: background .3s, border .3s ease-in-out;
          &.project-summary {
            // margin-bottom: -20px;
            position: fixed;
            bottom: 0;
            // bottom: 85px;
          }
          &.active {
            .f8launcher-vertical-bar_steps--title {
              color: @color-pf-white;
            }
          }
        }
        &_steps {
          color: @color-pf-black-400;
          padding-left: 20px;
          &--item {
            padding-left: 17px;
            width: 250px;
            color: @color-pf-black-400;
            .hide {
              display: none;
            }
            &:hover {
              background: @color-pf-black-700;
              text-decoration: none;
              border-left: 3px solid;
              /* stylelint-disable-next-line declaration-no-important */
              border-left-color: transparent !important;
              .f8launcher-step-circle {
                background-color: @color-pf-blue-300;
                border-color: @color-pf-blue-300;
              }
              .f8launcher-vertical-bar_steps--title {
                color: @color-pf-white;
              }
            }
            &:active,
            &:focus {
              text-decoration: none;
            }
          }
          &--title {
            position: absolute;
            margin-top: 8px;
            margin-left: 10px;;
          }
        }
      }
    }
  }
  /* Icons */
  .f8launcher-step-circle {
    border: 1px solid #bbb;
    width: 26px;
    height: 26px;
    margin-top: 6px;
    margin-left: -7px;
    border-radius: 50%;
    // background-color: @color-pf-black-300;
    background-color: #282d33;
    color: @color-pf-black-300;
    display: inline-flex;
    transition: background .3s, border .3s ease-in-out;
    -webkit-transition: background .3s, border .3s ease-in-out;
    -moz-transition: background .3s, border .3s ease-in-out;
    &.completed {
      background-color: transparent;
      &:after {
        content: '\e602'; // pficon-ok
        font-family: PatternFlyIcons-webfont;
        font-size: 1.8em;
        color: @color-pf-white;
        margin-top: -7px;
      }
    }
    &.warning {
      background-color: transparent;
      &:after {
        content: '\e913'; // pficon-warning-triangle-o
        font-family: PatternFlyIcons-webfont;
        font-size: 1.8em;
        color: @color-pf-red-300;
        margin-top: -7px;
      }
    }
  }
}
