<div class="f8launcher-container_nav">
  <div class="f8launcher-vertical-bar">
    <a href="javascript:void(0)" class="f8launcher-vertical-bar_steps--1 mission-runtime" (click)="selectSection('MissionRuntime')" [class.active]="wizardComponent.selectedSection === 'MissionRuntime'">
      <div class="f8launcher-step-circle"></div> <span class="f8launcher-vertical-bar_steps--title">Select Mission &amp; Runtime</span>
    </a>
    <a href="javascript:void(0)" class="f8launcher-vertical-bar_steps--2 target-environment" (click)="selectSection('TargetEnvironment')" [class.active]="wizardComponent.selectedSection === 'TargetEnvironment'">
      <div class="f8launcher-step-circle"></div> <span class="f8launcher-vertical-bar_steps--title">Select Target Environment</span>
    </a>
    <a href="javascript:void(0)" class="f8launcher-vertical-bar_steps--3 release-strategy" (click)="selectSection('ReleaseStrategy')" [class.active]="wizardComponent.selectedSection === 'ReleaseStrategy'">
      <div class="f8launcher-step-circle"></div> <span class="f8launcher-vertical-bar_steps--title">Select Release Strategy</span>
    </a>
    <a href="javascript:void(0)" class="f8launcher-vertical-bar_steps--4 git-provider" (click)="selectSection('GitProvider')" [class.active]="wizardComponent.selectedSection === 'GitProvider'">
      <div class="f8launcher-step-circle"></div> <span class="f8launcher-vertical-bar_steps--title">Authorize Git Provider</span>
    </a>
    <a href="javascript:void(0)" class="f8launcher-vertical-bar_steps--5 project-summary" (click)="selectSection('ProjectSummary')" [class.active]="wizardComponent.selectedSection === 'ProjectSummary'">
      <div class="f8launcher-step-circle"></div> <span class="f8launcher-vertical-bar_steps--title">Confirm Project Summary</span>
    </a>
  </div>
</div>
