<div class="f8launcher-vertical-bar_application-name f8launcher-application-text-field">
  <input class="f8launcher-application-text-field_input"
         name="applicationTitle" placeholder="New Application" type="text"
         [(ngModel)]="launcherComponent.summary.dependencyCheck.projectName"
         (keyup.enter)="$event.target.blur();"
         (keyup)="validateProjectName()">
</div>
<div [ngClass]="{'has-error': launcherComponent.isProjectNameValid === false}" *ngIf="launcherComponent.isProjectNameValid === false">
  <span class="help-block f8launcher-vertical-bar_application-name-help-text">
    Please enter a valid Application Name.
  </span>
</div>
<div class="f8launcher-vertical-bar"
     [ngClass]="{'in-progress': inProgress === true}">
  <a class="f8launcher-vertical-bar_steps--item {{step.styleClass}}" href="javascript:void(0)"
     [class.active]="launcherComponent.selectedSection === step.id"
     [ngClass]="{'hide': step.hidden === true}"
     (click)="navToStep(step.id)"
     *ngFor="let step of launcherComponent.steps">
    <div class="f8launcher-step-circle"
         [ngClass]="{'completed': step.completed === true}">
    </div>
    <span class="f8launcher-vertical-bar_steps--title">{{step.title}}</span>
  </a>
</div>
