<section id="MissionRuntime" class="f8launcher-section-mission-runtime f8launcher-container_main--start"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="wizardComponent.onInViewportChange($event, 'MissionRuntime')" [debounce]="500">
        Select Mission &amp; Runtime
        <button class="btn btn-default btn-lg pull-right" type="button"
                [disabled]="selectionAvailable !== true"
                (click)="resetSelections()">
          Reset Selections
        </button>
      </h1>
      <p>
        Start by selecting a runtime or mission. Secondary selection will be narrowed based on your primary selection.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12 col-md-6">
          <div class="card-pf card-pf--large">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Select Runtime
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf" *ngFor="let runtime of runtimes; let i = index">
                <div class="list-group-item list-view-pf-stacked list-view-pf-top-align"
                     [ngClass]="{'disabled': selectedMission?.id && selectedMission?.runtimes?.indexOf(runtime?.id) === -1}">
                  <div class="list-view-pf-checkbox">
                    <input name="runtime" type="radio"
                           [disabled]="selectedMission?.id && selectedMission?.runtimes?.indexOf(runtime?.id) === -1"
                           [(ngModel)]="runtimeId"
                           [value]="runtime.id"
                           (ngModelChange)="updateRuntimeSelection(runtime)">
                  </div>
                  <div class="list-view-pf-actions">
                    <div class="dropdown" dropdown>
                      <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" id="{{i + 'dropdown'}}">
                        {{runtime.version || runtime.versions[0]}}
                        <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu" [attr.aria-labelledby]="i + 'dropdown'">
                        <li role="menuitem" *ngFor="let version of runtime.versions">
                          <a role="menuitem" class="dropdown-item" tabindex="-1" href="#"
                             (click)="updateVersionSelection(runtime, version)">{{version}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                      <span class="list-view-pf-logo">
                        <img [src]="_DomSanitizer.bypassSecurityTrustUrl(runtime.icon)" />
                      </span>
                    </div>
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          {{runtime.name}}
                        </div>
                        <div class="list-group-item-text">
                          {{runtime.description}}<a href="#">more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-pf card-pf--large">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Select Mission
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf" *ngFor="let mission of missions">
                <div class="list-group-item list-view-pf-stacked list-view-pf-top-align"
                [ngClass]="{'disabled': selectedRuntime?.id && mission?.runtimes?.indexOf(selectedRuntime?.id) === -1}">
                  <div class="f8launcher-tag-featured" *ngIf="mission.suggested">
                    Suggested Mission <i class="pficon pficon-info"></i>
                  </div>
                  <div class="list-view-pf-checkbox">
                    <input type="radio" name="mission"
                           [disabled]="selectedRuntime?.id && mission?.runtimes?.indexOf(selectedRuntime?.id) === -1"
                           [(ngModel)]="missionId"
                           [value]="mission.id"
                           (ngModelChange)="updateMissionSelection(mission)">
                  </div>
                  <div class="list-view-pf-main-info">
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          {{mission.name}}
                        </div>
                        <div class="list-group-item-text">
                          {{mission.description}}<a href="#">more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-primary"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">OK</button> or press <b>ENTER</b>
      </div>
    </div>
  </div>
</section>
