@import (reference) '../../../assets/stylesheets/shared/main.less';
@import '../../../assets/stylesheets/shared/_labels.less';

.f8launcher-section-release-strategy {
  .card-pf {
    &-heading {
      border: none;
    }
    &-title {
      // font-size: 2em;
      // font-weight: 300;
    }
    &-body {
      margin-top: -31px;
    }
  }
  .list-view-pf-expand {
    margin-right: 7px;
    .fa-angle-down {
      padding-right: 6px;
    }
  }
}
