<section id="ReleaseStrategy" class="f8launcher-section-release-strategy f8launcher-container_main--inside"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="wizardComponent.onInViewportChange($event, 'ReleaseStrategy')"
          [debounce]="500">Select Release Strategy</h1>
      <p>
        There are multiple pipelines available to deploy your application. Each has 4 different stages with a varying set of capabilities. Stages of the piplines include: build release, integration testing, staging and running an application.
      </p>
      <p>
        There is a pre-selected, suggested pipeline based on the selected mission and technology.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Pipeline
              </h2>
              <div class="container-fluid">
                <pfng-toolbar [config]="toolbarConfig"
                              (onFilterChange)="filterChanged($event)"
                              (onSortChange)="sortChanged($event)">
                </pfng-toolbar>
              </div>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item" *ngFor="let pipeline of pipelines; let i = index">
                  <div class="f8launcher-tag-featured" tooltip="Suggestion based on selected mission and runtime"
                       *ngIf="pipeline.suggested === true" placement="top">
                    Suggested Pipeline <i class="pficon pficon-info"></i>
                  </div>
                  <div class="list-group-item-header">
                    <div class="list-view-pf-expand">
                      <span class="fa"
                            [ngClass]="{'fa-angle-down': pipeline.expanded === true,
                                        'fa-angle-right': pipeline.expanded !== true}"
                            (click)="toggleExpanded(pipeline)">
                      </span>
                    </div>
                    <div class="list-view-pf-checkbox">
                      <input name="pipelineId" type="radio"
                             [(ngModel)]="pipelineId"
                             [value]="pipeline.pipelineId"
                             (ngModelChange)="updatePipelineSelection(pipeline)">
                    </div>
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-heading">
                            <b>{{pipeline.name}}</b>
                          </div>
                          <div class="list-group-item-text">
                            <b>{{pipeline.stages.length}}</b> Stages
                          </div>
                          <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item">
                              {{pipeline.description}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item-container container-fluid" *ngIf="pipeline.expanded === true">
                    <div class="row">
                      <div class="col-md-12 f8launcher-pipeline-stages">
                        <ng-container *ngFor="let stage of pipeline.stages; let i = index">
                          <span class="f8launcher-pipeline-stages--line">{{stage}}</span>
                          <span class="f8launcher-pipeline-stages--arrow" *ngIf="i !== pipeline.stages.length - 1"></span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-primary"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">OK</button> or press <b>ENTER</b>
      </div>
    </div>
  </div>
</section>
