@import (reference) '../../../../assets/stylesheets/shared/main.less';
@import '../../../../assets/stylesheets/shared/_labels.less';

.f8launcher-section-release-strategy {
  .control-label {
    text-align: left;
  }
  .card-pf {
    &-heading {
      border: none;
    }
    &-body {
      margin-top: -31px;
    }
  }
  .list-group-item {
    padding-right: 0;
  }
  .list-group-item-header {
    cursor: default;
  }
  .list-group-item-container,
  .list-view-pf-main-info {
    cursor: pointer;
  }
  .list-view-pf-expand {
    margin-right: 7px;
    .fa-angle-down {
      padding-right: 6px;
    }
  }
}
