<f8launcher-cancel-overlay *ngIf="showCancelOverlay === true"></f8launcher-cancel-overlay>
<div class="f8launcher">
  <div class="f8launcher-container">
    <div *ngIf="importApp; then showImportAppTemplate else showCreateAppTemplate"></div>
    <!-- Create application -->
    <ng-template #showCreateAppTemplate>
      <div *ngIf="showNextSteps; then showCreateAppNextStepsTemplate else showCreateAppStepsTemplate"></div>
      <!-- Create application steps -->
      <ng-template #showCreateAppStepsTemplate>
        <div class="f8launcher-container_nav">
          <f8launcher-step-indicator #stepIndicator></f8launcher-step-indicator>
        </div>
        <div class="f8launcher-container_main">
          <f8launcher-targetenvironment-createapp-step #targetEnvStep
            [hidden]="flow === 'osio'"
            [id]="'TargetEnvironment'"
            [styleClass]="'target-environment'"
            [title]="'Select Target Environment'">
          </f8launcher-targetenvironment-createapp-step>
          <f8launcher-missionruntime-createapp-step #missionRuntimeStep
            [id]="'MissionRuntime'"
            [styleClass]="'mission-runtime'"
            [title]="'Select Mission & Runtime'">
          </f8launcher-missionruntime-createapp-step>
          <!-- Place holder for Dependency Checker -->
          <f8launcher-dependencychecker-createapp-step
            [hidden]="flow === 'launch' || depEditorFlag !== true"
            [id]="'SelectDependencies'"
            [styleClass]="'select-dependencies'"
            [title]="'Select Dependencies'">
          </f8launcher-dependencychecker-createapp-step>
          -->
          <f8launcher-releasestrategy-createapp-step
            [hidden]="flow === 'launch'"
            [id]="'ReleaseStrategy'"
            [styleClass]="'release-strategy'"
            [title]="'Select Pipeline'">
          </f8launcher-releasestrategy-createapp-step>
          <f8launcher-gitprovider-createapp-step
            [hidden]="flow === 'launch' && !(summary?.targetEnvironment === 'os' && targetEnvStep.completed === true)"
            [id]="'GitProvider'"
            [styleClass]="'git-provider'"
            [title]="'Authorize Git Provider'">
          </f8launcher-gitprovider-createapp-step>
          <f8launcher-projectsummary-createapp-step
            [id]="'ProjectSummary'"
            [styleClass]="'project-summary'"
            [title]="'Confirm Application Summary & Setup'"
            [depEditorFlag]="depEditorFlag">
          </f8launcher-projectsummary-createapp-step>
        </div>
        <div class="f8launcher-container_close">
          <div class="sticky close animate-continue">
            <span class="pficon pficon-close" aria-hidden="true" title="Leave Setup" (click)="cancel()"></span>
          </div>
        </div>
      </ng-template>
      <!-- Create application next steps -->
      <ng-template #showCreateAppNextStepsTemplate>
        <f8launcher-activatebooster-createapp-nextstep *ngIf="summary?.targetEnvironment === 'zip'">
        </f8launcher-activatebooster-createapp-nextstep>
        <f8launcher-projectprogress-createapp-nextstep
          *ngIf="summary?.targetEnvironment === 'os'"
          [statusLink]="statusLink">
        </f8launcher-projectprogress-createapp-nextstep>
      </ng-template>
    </ng-template>
    <!-- Import application -->
    <ng-template #showImportAppTemplate>
      <div *ngIf="showNextSteps; then showImportAppNextStepsTemplate else showImportAppStepsTemplate"></div>
      <ng-template #showImportAppStepsTemplate>
        <div class="f8launcher-container_nav">
          <f8launcher-step-indicator #stepIndicator></f8launcher-step-indicator>
        </div>
        <div class="f8launcher-container_main">
          <section class="f8launcher-container_main--spacer"></section>
          <f8launcher-gitprovider-importapp-step
            [id]="'GitProvider'"
            [styleClass]="'git-provider'"
            [title]="'Authorize Git Provider'">
          </f8launcher-gitprovider-importapp-step>
          <f8launcher-releasestrategy-importapp-step
            [id]="'ReleaseStrategy'"
            [optional]="true"
            [styleClass]="'release-strategy'"
            [title]="'Select Pipeline'">
          </f8launcher-releasestrategy-importapp-step>
          <f8launcher-projectsummary-importapp-step
            [id]="'ProjectSummary'"
            [styleClass]="'project-summary'"
            [title]="'Confirm Application Summary & Import'">
          </f8launcher-projectsummary-importapp-step>
        </div>
        <div class="f8launcher-container_close">
          <div class="sticky close">
            <span class="pficon pficon-close" aria-hidden="true" title="Leave Setup" (click)="cancel()"></span>
          </div>
        </div>
      </ng-template>
      <!-- Import application next steps -->
      <ng-template #showImportAppNextStepsTemplate>
        <f8launcher-projectprogress-importapp-nextstep
        [statusLink]="statusLink">
        </f8launcher-projectprogress-importapp-nextstep>
      </ng-template>
    </ng-template>
  </div>
</div>
