<div class="f8launcher">
  <div class="f8launcher-container">
    <div *ngIf="showNextSteps; then showNextStepsTemplate else showStepsTemplate"></div>
    <ng-template #showStepsTemplate>
      <div class="f8launcher-container_nav">
        <f8launcher-step-indicator [steps]="steps" #stepIndicator></f8launcher-step-indicator>
      </div>
      <div class="f8launcher-container_main">
        <section id="section0" class="f8launcher-container_main-start"></section>
        <f8launcher-missionruntime-step [id]="steps[0].id"></f8launcher-missionruntime-step>
        <!-- Place holder for Dependency Checker -->
        <f8launcher-targetenvironment-step [id]="steps[2].id"></f8launcher-targetenvironment-step>
        <f8launcher-releasestrategy-step [id]="steps[3].id"
                                         *ngIf="!stepIndicator.isStepHidden(steps[3].id)">
        </f8launcher-releasestrategy-step>
        <f8launcher-gitprovider-step [id]="steps[4].id"
                                     *ngIf="!stepIndicator.isStepHidden(steps[4].id)">
        </f8launcher-gitprovider-step>
        <f8launcher-projectsummary-step [id]="steps[5].id"
                                        *ngIf="!stepIndicator.isStepHidden(steps[5].id)">
        </f8launcher-projectsummary-step>
      </div>
    </ng-template>
    <ng-template #showNextStepsTemplate>
      <f8launcher-activatebooster-step></f8launcher-activatebooster-step>
      <f8launcher-newproject-step></f8launcher-newproject-step>
    </ng-template>
  </div>
</div>
