<div class="f8launcher">
  <div class="f8launcher-container">
    <div *ngIf="showNextSteps; then showNextStepsTemplate else showStepsTemplate"></div>
    <ng-template #showStepsTemplate>
      <div class="f8launcher-container_nav">
        <f8launcher-step-indicator #stepIndicator></f8launcher-step-indicator>
      </div>
      <div class="f8launcher-container_main">
        <section id="section0" class="f8launcher-container_main-start"></section>
        <f8launcher-missionruntime-step
            [id]="'MissionRuntime'"
            [styleClass]="'mission-runtime'"
            [title]="'Select Mission & Runtime'">
        </f8launcher-missionruntime-step>
<!-- Place holder for Dependency Checker
        <f8launcher-dependencychecker-step
            [hidden]="true"
            [id]="'DependencyChecker'"
            [styleClass]="'dependency-checker'"
            [title]="'Dependency Checker'">
        </f8launcher-dependencychecker-step>
-->
        <f8launcher-targetenvironment-step
          [id]="'TargetEnvironment'"
          [styleClass]="'target-environment'"
          [title]="'Select Target Environment'">
        </f8launcher-targetenvironment-step>
        <f8launcher-releasestrategy-step
          [hidden]="true"
          [id]="'ReleaseStrategy'"
          [showAfterCompleted]="['MissionRuntime', 'TargetEnvironment']"
          [styleClass]="'release-strategy'"
          [title]="'Select Release Strategy'"
          *ngIf="!stepIndicator.isStepHidden('ReleaseStrategy')">
        </f8launcher-releasestrategy-step>
        <f8launcher-gitprovider-step
          [hidden]="true"
          [id]="'GitProvider'"
          [showAfterCompleted]="['MissionRuntime', 'TargetEnvironment']"
          [styleClass]="'git-provider'"
          [title]="'Authorize Git Provider'"
          *ngIf="!stepIndicator.isStepHidden('GitProvider')">
        </f8launcher-gitprovider-step>
        <f8launcher-projectsummary-step
          [hidden]="true"
          [id]="'ProjectSummary'"
          [showAfterCompleted]="['MissionRuntime', 'TargetEnvironment']"
          [styleClass]="'project-summary'"
          [title]="'Confirm Project Summary'"
          *ngIf="!stepIndicator.isStepHidden('ProjectSummary')">
        </f8launcher-projectsummary-step>
      </div>
    </ng-template>
    <ng-template #showNextStepsTemplate>
      <f8launcher-activatebooster-step></f8launcher-activatebooster-step>
      <f8launcher-newproject-step></f8launcher-newproject-step>
    </ng-template>
  </div>
</div>
