<div class="f8launcher">
  <div class="f8launcher-container">
    <div class="f8launcher-container_nav">
      <f8launcher-step-indicator></f8launcher-step-indicator>
    </div>
    <div class="f8launcher-container_main">
      <section id="section0" class="f8launcher-container_main-start">
      </section>
      <f8launcher-missionruntime-step></f8launcher-missionruntime-step>
      <f8launcher-targetenvironment-step></f8launcher-targetenvironment-step>
      <f8launcher-releasestrategy-step></f8launcher-releasestrategy-step>
      <f8launcher-gitprovider-step></f8launcher-gitprovider-step>
      <f8launcher-projectsummary-step></f8launcher-projectsummary-step>
      <f8launcher-activatebooster-step></f8launcher-activatebooster-step>
      <f8launcher-newproject-step></f8launcher-newproject-step>
    </div>
  </div>
</div>
