@import (reference) '../../../src/assets/stylesheets/shared/main.less';

// required as a non-referenced item in order to be included with the component
@import '../../../src/assets/stylesheets/shared/_pipelines.less';

body {
  overflow-x: hidden;
  background-color: @color-pf-black-200;
}
.f8launcher-grid {
  display: grid;
  grid-template-rows: auto 1fr 200px;
  grid-template-columns: 1fr;
  height: 100vh;
  @media screen and (max-width: 768px) {
    height: auto;
  }
}
.f8launcher {
  position: absolute;
  top: 41px;
  background-color: @color-pf-black-300;
  width: 100%;
  .active {
    background-color: @color-pf-black-700;
    // background: linear-gradient(-90deg, @color-pf-black-900, @color-pf-blue);
    border-left: 3px solid;
    text-decoration: none;
    /* stylelint-disable-next-line declaration-no-important */
    border-left-color: @color-pf-blue !important;
    .f8launcher-step-circle {
      background-color: @color-pf-blue-300;
      border: solid 1px @color-pf-black-700;
    }
  }
  .card {
    &-title {
      display: inline-flex;
    }
    &-pf {
      &--xsmall {
        height: 250px;
      }
      &--small {
        height: 400px;
      }
      &--medium {
        min-height: 550px;
      }
      &--large {
        min-height: 750px;
      }
      &-title {
        display: inline-flex;
        button {
          position: absolute;
          top: 15px;
          right: 30px;
        }
        &--title {
          display: inline-flex;
          margin-left: 15px;
          padding-left: 15px;
          border-left: 1px solid @color-pf-black-300;
        }
      }
      &-body {
        &-description {
          background-color: @color-pf-black-150;
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          margin-left: 10px;
          margin-right: 10px;
        }
        &--body {
          height: 300px;
          &_header {
            font-weight: 600;
          }
          &_logo {
            display: grid;
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &-footer {
        &--title {
          font-weight: 600;
        }
        &--logo {
          background-color: @color-pf-black-200;
          padding-top: 10px;
          margin-right: -20px;
          margin-left: -20px;
          margin-bottom: -10px;
          height: 75px;
          img {
            display: block;
            margin: auto;
          }
        }
      }
    }
    &-column {
      display: inline-flex;
      width: 100%;
      &-single {
        width: 100%;
      }
      &-60 {
        width: 60%;
      }
      &-40 {
        width: 40%;
        img {
          width: 200px;
          padding: 0 25px;
        }
      }
    }
  }
  .f8launcher-section {
    &-mission-runtime,
    &-target-environment,
    &-release-strategy {
      .f8launcher-grid();
    }
    &-git-provider {
      &:extend(.f8launcher-grid);
      grid-template-rows: auto auto 200px;
    }
    &-target-environment {
      .card-pf-title {
        height: 80px;
      }
      .card-pf-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        /* stylelint-disable */
        margin: 0 0px !important;
        padding: 20px 20px 10px !important;
        /* stylelint-enable */
      }
    }
  }
  .list-view-pf {
    &-description {
    width: 100%;
    }
    &-logo {
      img {
        width: 4em;
      }
    }
  }
  .f8launcher-continue {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-container {
    display: grid;
    grid-template-areas: 'nav content';
    height: 100vh;
    grid-template-columns: 250px 1fr;
    @media screen and (max-width: 768px) {
      grid-template-areas: 'content';
      grid-template-columns: 1fr;
    }
    &_main {
      grid-area: content;
      display: grid;
      grid-template-rows: 50px 100vh 100vh 100vh 100vh 100vh 50px;
      background-color: #ededed;
      padding-left: 15px;
      @media screen and (max-width: 768px) {
        grid-template-rows: 50px repeat(5, auto) 50px;
      }
    }
  }
  .box {
    display: inline-block;
    border: 1px solid @color-pf-black-300;
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-right: 15px;
    i {
      vertical-align: middle;
    }
  }
  /* Content */
  #section0 {
    min-height: 50px;
  }
    #MissionRuntime,
    #TargetEnvironment,
    #ReleaseStrategy,
    #GitProvider,
    #ProjectSummary {
    margin-top: 15em;
  }
  #MissionRuntime {
    margin-top: 0;
  }
  #ProjectSummary {
    margin-bottom: 5em;
  }
}
