@import (reference) '../../../src/assets/stylesheets/shared/main.less';

// required as a non-referenced item in order to be included with the component
@import '../../../src/assets/stylesheets/shared/_pipelines.less';
@import '../../../src/assets/stylesheets/shared/_cards.less';

body {
  font-family: 'Open Sans', sans-serif;
  /* stylelint-disable */
  /* required to overwrite the default PatternFly font size */
  font-size: @font-size-base !important;
  /* stylelint-enable */
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: @color-pf-black-200;
}
/* Content */
#section0 {
  min-height: 50px;
}
// if adding a new section, the ID (which the scrollspy uses as its selector)
// must be added to this list for proper spacing
#MissionRuntime,
#TargetEnvironment,
#ReleaseStrategy,
#GitProvider {
  margin-top: 15em;
}
#MissionRuntime {
  margin-top: 0;
}
#ProjectSummary {
  margin-top: 35em;
  margin-bottom: 5em;
}
.f8launcher {
  position: absolute;
  top: 41px;
  background-color: #ededed;
  width: 100%;
  .active {
    background-color: @color-pf-black-700;
    // background: linear-gradient(to right, @color-pf-blue, @color-pf-black-700);
    border-left: 3px solid;
    text-decoration: none;
    /* stylelint-disable-next-line declaration-no-important */
    border-left-color: @color-pf-blue !important;
    .f8launcher-step-circle {
      background-color: @color-pf-blue-300;
      border: solid 1px @color-pf-black-700;
    }
  }
  .f8launcher-section {
    &-mission-runtime,
    &-target-environment,
    &-release-strategy,
    &-git-provider {
      display: grid;
      grid-template-rows: 1fr auto 400px;
      // align-items: end;
    }
    &-target-environment {
      .card-pf-title {
        height: 80px;
      }
      .card-pf-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        /* stylelint-disable */
        margin: 0 0px !important;
        padding: 20px 20px 10px !important;
        /* stylelint-enable */
      }
    }
  }
  .list-group-item-container {
    border-top: 0;
  }
  .list-view-pf {
    .list-group {
      &-item {
        &:hover {
          .list-group-item-container {
            background-color: #edf8ff;
            cursor: pointer;
          }
        }
      }
      &-item-heading {
        font-size: 1.2em;
      }
      &-item-text {
        font-size: 1.2em;
        width: auto;
      }
    }
    &-description {
    width: 100%;
    }
    &-logo {
      img {
        width: 4em;
      }
    }
  }
  .f8launcher-continue {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-container {
    .f8launcher-grid();
    @media screen and (max-width: 1024px) {
      grid-template-areas: 'content';
      grid-template-columns: 1fr;
    }
    &_main {
      margin-left: 250px;
      @media screen and (max-width: 1024px) {
        margin-left: 0;
      }
    }
  }
  .box {
    display: inline-block;
    border: 1px solid @color-pf-black-300;
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-right: 15px;
    i {
      vertical-align: middle;
    }
  }
}
