@import (reference) '../../../../assets/stylesheets/shared/main.less';

.f8launcher {
  &-section-project-progress {
    .card-pf-title-project-progress {
      /* stylelint-disable-next-line declaration-no-important */
      display: block !important;
      text-align: center;
    }
    .pfng-list-content {
      display: flex;
      flex: 1;
    }
    .item-in-progress {
        opacity: .4;
    }
    .icon-clear {
      &:before {
        color: transparent;
      }
    }
  }
}
