<label class="col-sm-4 control-label" [attr.for]="input.name" [class.required]="input.required">{{input.label}}</label>
<div class="col-sm-8" [ngSwitch]="input.class">
  <span *ngSwitchCase="'UIInput'">
    <span [ngSwitch]="input.valueType">
      <input [attr.id]="input.name" *ngSwitchCase="'java.lang.String'" type="text" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
        [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="change()" [class.ng-invalid]="messageForInput(input.name)" #control (keyup)="keyUp.next(control.value)">
      <input [attr.id]="input.name" *ngSwitchCase="'java.lang.Boolean'" type="checkbox" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
        [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="change()" [class.ng-invalid]="messageForInput(input.name)" #control (keyup)="keyUp.next(control.value)">
      <input [attr.id]="input.name" *ngSwitchCase="'java.lang.Integer'" type="number" name="{{input.name}}" [(ngModel)]="input.value" class="form-control"
        [required]="input.required" [disabled]="!input.enabled" [title]="input.description" (change)="change()" [class.ng-invalid]="messageForInput(input.name)" #control (keyup)="keyUp.next(control.value)">
      <div class="errorLabel help-block">
        <span *ngIf="messageForInput(input.name)">{{messageForInput(input.name).description}}</span>
        <span *ngIf="input.name.errors && (input.name.dirty || input.name.touched)">{{input.label}} is required</span>
      </div>
      <span *ngIf="input.note"><span class="fa fa-info-circle"></span> <i>{{input.note}}</i></span>
    </span>
  </span>
  <span *ngSwitchCase="'UISelectOne'">
    <span *ngIf="input.inputType == 'org.jboss.forge.inputType.RADIO'">
    <div class="row" *ngFor="let option of input.valueChoices">
      <span>
        <label>
          <input [name]="input.name" [disabled]="!input.enabled" type="radio" [(ngModel)]="input.value" [value]="option.id" (ngModelChange)="change()">
            {{option.id}}
          </label>
      </span>
    </div>
    </span>
    <span *ngIf="input.inputType == 'org.jboss.forge.inputType.DEFAULT'">
    <select [attr.id]="input.name" class="form-control" [disabled]="!input.enabled" [(ngModel)]="input.value" name="{{input.name}}" [title]="input.description" (change)="change()">
      <option value="{{option.id}}" *ngFor="let option of input.valueChoices">
          {{option.id}}
      </option>
    </select>
    </span>
  </span>
  <span *ngSwitchCase="'UISelectMany'">
    <ss-multiselect-dropdown [options]="convertToOptions(input.valueChoices)" [(ngModel)]="input.value" name="{{input.name}}" [settings]="searchMultiSelectSettings"></ss-multiselect-dropdown>
  </span>
</div>
