<section id="SelectDependencies" class="f8launcher-section-dependency-check f8launcher-container_main--inside" [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'DependencyCheck')"
      [debounce]="500">
          Select Dependency
      </h1>
      <div class="col-xs-12 col-md-6 f8launcher-section-dependency-editor-desp">
        <p>Choose a mission and runtime to create a booster, or sample application, 
          You set up a booster to generate source codeand specifications for your new applications.</p>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-dep-editor">
        <div class="col-xs-12">
          <app-dependency-editor [boosterInfo]="boosterInfo && boosterInfo" [githubUrl]="github && github" (depSnapshot)="pickDependencies($event)"
            (emitMetadata)="pickMetadata($event)" (navId)="navToStep($event)"></app-dependency-editor>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-link"
          [ngClass]="{'animate-continue': stepCompleted === true}" 
          [disabled]="stepCompleted !== true"
          (click)="navToNextStep()">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-double-down fa-stack-1x fa-inverse"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
