<section id="NewProjectBooster" class="f8launcher-section-new-project">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="wizardComponent.onInViewportChange($event, 'NewProjectBooster')" [debounce]="500">Next Steps: Setting Up New Project</h1>
      <p>
        Now you are ready to start interacting, experimenting, and building with your application. For further instructions on how to run and interact with your booster, please refer to the documentation that is attached.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title card-pf-title-new-project">
                <i class="pficon pficon-in-progress fa-spin"></i> Working Through Setup
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf list-view-pf-equalized-column">
                <div class="list-group-item">
                  <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                      <span class="pficon pficon-ok"></span>
                    </div>
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          Creating New GitHub Repository
                        </div>
                      </div>
                      <div class="list-view-pf-additional-info">
                        <a href="#">View New Repository</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                      <span class="pficon pficon-ok icon-clear"></span>
                    </div>
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          Pushing Customized Booster Code into the Repository
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                      <span class="pficon pficon-ok"></span>
                    </div>
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          Creating Your Project on the OpenShift Cloud
                        </div>
                      </div>
                      <div class="list-view-pf-additional-info">
                        <a href="#">View New Project</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-view-pf-main-info list-view-pf-main-info--in-progress">
                    <div class="list-view-pf-left">
                      <span class="pficon pficon-in-progress fa-spin"></span>
                    </div>
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          Setting up Build Pipeline
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-view-pf-main-info list-view-pf-main-info--in-progress">
                    <div class="list-view-pf-left">
                      <span class="pficon pficon-in-progress fa-spin icon-clear"></span>
                    </div>
                    <div class="list-view-pf-body">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          Configure Trigger Builds on Git Pushes
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <a href="btn btn-link">Return to My Dashboard</a>
      </div>
    </div>
  </div>
</section>
