<section id="TargetEnvironment" class="f8launcher-section-target-environment"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="wizardComponent.onInViewportChange($event, 'TargetEnvironment')" [debounce]="500">Select Target Environment</h1>
      <p>
        Choose which environment the application should live in.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12 col-md-6">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf--medium">
            <div class="card-title">
              <input name="target-environment" type="radio"
                     [(ngModel)]="wizardComponent.summary.targetEnvironment"
                     [value]="'os'"
                     (ngModelChange)="updateTargetEnvSelection()">
              <h2 class="card-pf-title--title">Code Locally, Build and Deploy Online</h2>
            </div>
            <div class="card-pf-body--body">
              <h3 class="card-pf-body--body_header">Benefits</h3>
              <ul>
                <li>
                  In your GitHub namespace, create repository containg your project's code.
                </li>
                <li>
                  Configure OpenShift Online to build and deploy your code on each push to your repository's master branch.
                </li>
                <li>
                  Here is a benefit of using OpenShift as a project environment.
                </li>
              </ul>
            </div>
            <div class="card-pf-footer">
              <span class="card-pf-footer--title">OpenShift</span>
              <p>
                Here is a brief description of what OpenShift Online is. There is a distinction between what OpenShift Online does compared to OpenShift.io.
              </p>
              <div class="card-pf-footer--logo">
                <img src="../../../assets/images/Logotype_RH_OpenShiftOnline_wLogo_RGB_Black.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf--medium">
            <div class="card-title">
              <input name="target-environment" type="radio"
                     [(ngModel)]="wizardComponent.summary.targetEnvironment"
                     [value]="'zip'"
                     (ngModelChange)="updateTargetEnvSelection()">
              <h2 class="card-pf-title--title">Build &amp; Run Locally</h2>
            </div>
            <div class="card-pf-body--body">
              <h3 class="card-pf-body--body_header">Benefits</h3>
              <ul>
                <li>
                  Scaffold a project based on your chosen runtime.
                </li>
                <li>
                  Configure OpenShift Online to build and deploy your code on each push to your repository's master branch.
                </li>
                <li>
                  Here is a benefit of using OpenShift as a project environment.
                </li>
              </ul>
            </div>
            <div class="card-pf-footer">
              <span class="card-pf-footer--title">.ZIP File</span>
              <p>
                When you build and run locally, you will receive a .zip file containing the setup you have established for your application.
              </p>
              <div class="card-pf-footer--logo">
                <img src="../../../assets/images/file-archive-o.svg" class="card-pf-footer--logo-zip" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-primary"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">OK</button> or press <b>ENTER</b>
      </div>
    </div>
  </div>
</section>
