@import (reference) 'main.less';

.f8launcher-tags {
  border-top: 1px solid @color-pf-blue;
  &:last-child {
    margin-right: 0;
  }
  &-label {
    margin-left: 5px;
    padding: 0 10px;
    background-color: @color-pf-blue;
    color: @color-pf-white;
    font-size: .9em;
    float: right;
    i {
      color: @color-pf-white;
    }
  }
}
