<div class="launcher">
  <div class="launcher-container">
    <div class="launcher-container_nav">
      <div class="vertical-bar">
        <a href="#MissionRuntime" class="vertical-bar_steps--1 mission-runtime">
          <div class="step-circle"></div> <span class="vertical-bar_steps--title">Select Mission &amp; Runtime</span>
        </a>
        <a href="#TargetEnvironment" class="vertical-bar_steps--2 target-environment">
          <div class="step-circle"></div> <span class="vertical-bar_steps--title">Select Target Environment</span>
        </a>
        <a href="#ReleaseStrategy" class="vertical-bar_steps--3 release-strategy">
          <div class="step-circle"></div> <span class="vertical-bar_steps--title">Select Release Strategy</span>
        </a>
        <a href="#GitProvider" class="vertical-bar_steps--4 git-provider">
          <div class="step-circle"></div> <span class="vertical-bar_steps--title">Select &amp; Authorize Git Provider</span>
        </a>
        <a href="#ProjectSummary" class="vertical-bar_steps--5 project-summary">
          <div class="step-circle"></div> <span class="vertical-bar_steps--title">Confirm Project Summary</span>
        </a>
      </div>
    </div>
    <div class="launcher-container_main">
      <section id="section0">
      </section>
      <section id="MissionRuntime" class="col-xs-12">
        <h1>Select Mission &amp; Runtime</h1>
        <p>
          Start by selecting a runtime or mission. Secondary selection will be narrowed based on your primary selection.
        </p>
        <div class="container-fluid container-cards-pf">
          <div class="row row-cards-pf">
            <div class="col-xs-6">
              <div class="card-pf">
                <div class="card-pf-heading">
                  <h2 class="card-pf-title">
                    Select Runtime
                  </h2>
                </div>
                <div class="card-pf-body">
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="runtime">
                      </div>
                      <div class="list-view-pf-actions">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                          <span class="fa fa-square list-view-pf-icon-lg"></span>
                        </div>
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Spring Boot
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the technology...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="runtime">
                      </div>
                      <div class="list-view-pf-actions">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                          <span class="fa fa-square list-view-pf-icon-lg"></span>
                        </div>
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Node.js
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the technology...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="runtime">
                      </div>
                      <div class="list-view-pf-actions">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                          <span class="fa fa-square list-view-pf-icon-lg"></span>
                        </div>
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Eclipse Vert.x
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the technology...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="runtime">
                      </div>
                      <div class="list-view-pf-actions">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-left">
                          <span class="fa fa-square list-view-pf-icon-lg"></span>
                        </div>
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Wildfly Swarm
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the technology...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="card-pf">
                <div class="card-pf-heading">
                  <h2 class="card-pf-title">
                    Select Mission
                  </h2>
                </div>
                <div class="card-pf-body">
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="tag-featured">
                        Featured Mission
                      </div>
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="mission">
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Basic Application
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the Basic Application mission and what it does...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="mission">
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              CRUD
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the CRUD mission and what it does...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="mission">
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Circuit Break
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the Circuit Breaker mission and what it does...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="mission">
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              Externalized Configuration
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the Externalized Configuration mission and what it does...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group list-view-pf">
                    <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
                      <div class="list-view-pf-checkbox">
                        <input type="radio" name="mission">
                      </div>
                      <div class="list-view-pf-main-info">
                        <div class="list-view-pf-body">
                          <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                              REST API Level 0
                            </div>
                            <div class="list-group-item-text">
                              Brief description of the REST API Level 0 mission and what it does...<a href="#">more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="continue">
            <button class="btn btn-default" disabled>OK</button> or press <b>ENTER</b>
          </div>
        </div>
      </section>
      <section id="TargetEnvironment" class="col-xs-12">
        <h1>Select Target Environment</h1>
        <p>
          Choose which environment the application should live in.
        </p>
        <div class="container-fluid container-cards-pf">
          <div class="row row-cards-pf">
            <div class="col-xs-6 col-sm-4 col-md-4">
              <div class="card-pf">
                <input type="radio" name="target-environment">
                <h2 class="card-pf-title--title">Code Locally, Build and Deploy Online</h2>
                <div class="card-pf-body--body">
                  <h3><b>Benefits</b></h3>
                  <ul>
                    <li>
                      In your GitHub namespace, create repository containg your project's code.
                    </li>
                    <li>
                      Configure OpenShift Online to build and deploy your code on each push to your repository's master branch.
                    </li>
                    <li>
                      Here is a benefit of using OpenShift as a project environment.
                    </li>
                  </ul>
                </div>
                <div class="card-pf-footer">
                  <span style="font-weight: 600;">OpenShift</span>
                  <p>
                    Here is a brief description of what OpenShift Online is. There is a distinction between what OpenShift Online does compared to OpenShift.io.
                  </p>
                  <div class="card-pf-footer--logo">
                    <img src="../../../assets/images/openshift_logo_black.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <div class="card-pf">
                <input type="radio" name="target-environment">
                <h2 class="card-pf-title--title">Code, Deploy, Build</h2>
                <div class="card-pf-body--body">
                  <h3><b>Benefits</b></h3>
                  <ul>
                    <li>
                      Here is a benefit of using OpenShift.io as a project environment.
                    </li>
                    <li>
                      Here is another benefit of using OpenShift.io as a project environment.
                    </li>
                    <li>
                      Here is one more benefit of using OpenShift.io as a project environment.
                    </li>
                  </ul>
                </div>
                <div class="card-pf-footer">
                  <span style="font-weight: 600;">OpenShift</span>
                  <p>
                    Here is a brief description of what OpenShift Online is. There is a distinction between what OpenShift Online does compared to OpenShift.io.
                  </p>
                </div>
                <div class="card-pf-footer--logo">
                  <img src="../../../assets/images/openshift_logo_black.png" />
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <div class="card-pf">
                <input type="radio" name="target-environment">
                <h2 class="card-pf-title--title">Build &amp; Run Locally</h2>
                <div class="card-pf-body--body">
                  <h3><b>Benefits</b></h3>
                  <ul>
                    <li>
                      Scaffold a project based on your chosen runtime.
                    </li>
                    <li>
                      Configure OpenShift Online to build and deploy your code on each push to your repository's master branch.
                    </li>
                    <li>
                      Here is a benefit of using OpenShift as a project environment.
                    </li>
                  </ul>
                </div>
                <div class="card-pf-footer">
                  <span style="font-weight: 600;">.ZIP File</span>
                  <p>
                    When you build and run locally, you will receive a .zip file containing the setup you have established for your application.
                  </p>
                  <div class="card-pf-footer--logo">
                    <img src="../../../assets/images/openshift_logo_black.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="ReleaseStrategy" class="col-xs-12">
        <h1>Select Release Strategy</h1>
        <p>
          There are multiple pipelines available to deploy your application. Each has 4 different stages with a varying set of capabilities. Stages of the piplines include: build release, integration testing, staging and running an application.
        </p>
        <p>
          There is a pre-selected, recommended pipeline based on the selected mission and technology.
        </p>
        <div class="container-fluid container-cards-pf">
          <div class="row row-cards-pf">
            <div class="col-xs-12">
              <div class="card-pf">
                <div class="card-pf-heading">
                  <h2 class="card-pf-title">
                    Select Pipeline
                  </h2>
                </div>
                <div class="card-pf-body">
                  <div class="list-group list-view-pf list-view-pf-view">
                    <div class="list-group-item">
                      <div class="tag-featured">
                        Recommended Pipeline
                      </div>
                      <div class="list-group-item-header">
                        <div class="list-view-pf-expand">
                          <span class="fa fa-angle-down"></span>
                        </div>
                        <div class="list-view-pf-checkbox">
                          <input type="radio">
                        </div>
                        <div class="list-view-pf-main-info">
                          <div class="list-view-pf-body">
                            <div class="list-view-pf-description">
                              <div class="list-group-item-heading">
                                <b>Name of Pipeline</b>
                              </div>
                              <div class="list-group-item-text">
                                <b>5</b> Stages
                                A slightly longer description of this pipeline's capabilities and usage.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item-container container-fluid">
                        <div class="close">
                          <span class="pficon pficon-close"></span>
                        </div>
                        <div class="row">
                          <div class="col-md-12 pipeline-stages">
                            <span class="pipeline-stages-line">Stage Name</span>
                            <span class="pipeline-stages-line">Stage Name</span>
                            <span class="pipeline-stages-line">Stage Name</span>
                            <span class="pipeline-stages-line">Stage Name</span>
                            <span class="pipeline-stages-line">Stage Name</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-pf-footer">
                  <p>
                    Prefer to use another pipeline? <a href="#">More...</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
