@import (reference) '../../../../node_modules/patternfly/dist/less/patternfly.less';

body {
  overflow-x: hidden;
  background-color: #f7f7f7;
}
.launcher {
  position: absolute;
  top: 41px;
  // .card-pf {
  //   min-height: 600px;
  // }
  .list-view-pf-description {
    width: 100%;
  }
  .continue {
    text-align: center;
  }
  .card-pf-title {
    display: inline-flex;
    &--title {
      display: inline-flex;
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #d7d7d7;
    }
  }
  .card-pf-body--body {
    height: 300px;
  }
  .card-pf-footer--logo {
    background-color: #030303;
    margin-right: -20px;
    margin-bottom: -10px;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
      display: block;
      margin: auto;
    }
  }
  .card-pf-body-description {
    background-color: #f7f7f7;
    // height: 75px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  &-container {
    display: grid;
    grid-template-areas: 'nav content';
    height: 100vh;
    grid-template-columns: 250px 1fr;
    &_nav {
      grid-area: nav;
      display: flex;
      height: 100vh;
      align-items: center;
      background-color: #292e34;
      position: fixed;
      // top: 60px;
      left: 0;
      width: 250px;
      .vertical-bar {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        // align-content: space-between;
        // align-self: flex-start;
        background-color: #72767b;
        width: 25px;
        height: 90vh;
        border-radius: 10px;
        margin-left: 15px;
        a {
          margin-left: -15px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-left: 3px solid;
          border-left-color: transparent;
          font-weight: 700;
          height: 40px;
          transition: background .3s ease-in-out;
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
          .step-circle {
            border: 1px solid #303030;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #d7d7d7;
            color: #d7d7d7;
            margin-right: 5px;
            margin-left: -2px;
            display: inline-flex;
          }
          &.disabled {
            .step-circle {
              background-color: @color-pf-black-800;
              &:after {
                font-family: FontAwesome;
                font-size: 1.5em;
                font-weight: 400;
                content: '\f05d';
                color: @color-pf-white;
                margin-top: -6px;
                margin-left: 1px;
              }
            }
          }
        }
        &_steps {
          color: #bbb;
          padding-left: 20px;
          &--1,
          &--2,
          &--3,
          &--4,
          &--5 {
            padding-left: 17px;
            width: 250px;
            color: #bbb;
            &:active,
            &:focus,
            &:hover {
              background-color: #72767b;
              text-decoration: none;
            }
            &:active,
            &:focus {
              border-left: 3px solid;
              /* stylelint-disable */
              border-left-color: #0088ce !important;
              .step-circle {
                border: 1px solid #0088ce;
                background-color: #0088ce;
                color: #0088ce;
              }
              /* stylelint-enable */
            }
          }
          &--title {
            vertical-align: top;
          }
        }
      }
    }
    &_main {
      grid-area: content;
      display: grid;
      grid-template-rows: 50px 100vh 100vh 100vh 100vh 100vh 50px;
      background-color: #d7d7d7;
      padding-left: 15px;
    }
  }
  /* Icons */
  // .step-circle {
  //   border: 1px solid #303030;
  //   width: 15px;
  //   height: 15px;
  //   border-radius: 50%;
  //   background-color: #d7d7d7;
  //   color: #d7d7d7;
  //   margin-right: 5px;
  //   display: inline-flex;
  // }
  .tag-featured {
    padding: 2px 5px;
    background-color: #0088ce;
    color: #fff;
    font-size: .9em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .box {
    display: inline-block;
    border: 1px solid #d7d7d7;
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-right: 15px;
    i {
      vertical-align: middle;
    }
  }
  .pipeline-stages {
    display: inline-flex;
    justify-content: space-evenly;
    &-line {
      border-bottom: 5px solid @color-pf-blue;
      padding-left: 15px;
      padding-right: 15px;
    }
    &:before {
      width: 20px;
      height: 5px;
      background-color: @color-pf-blue;
    }
  }
  /* Content */
  #section0 {
    min-height: 50px;
  }
    #MissionRuntime,
    #TargetEnvironment,
    #ReleaseStrategy,
    #GitProvider,
    #ProjectSummary {
    // min-height: 400px;
    // padding-bottom: 200px;
    margin-top: 100px;
    box-shadow: 0 -2px 2px #d7d7d7;
    border-bottom: 1px solid #030303;
  }
  #MissionRuntime {
    margin-top: 0;
  }
}
