@import (reference) '../../../../node_modules/patternfly/dist/less/patternfly.less';

body {
  overflow-x: hidden;
  background-color: @color-pf-black-200;
}
.launcher {
  position: absolute;
  top: 41px;
  .card-title {
    display: inline-flex;
  }
  .card-pf {
    &--small {
      height: 400px;
    }
    &--medium {
      min-height: 550px;
    }
    &--large {
      min-height: 600px;
    }
  }
  .section {
    &-mission-runtime,
    &-target-environment,
    &-release-strategy,
    &-git-provider {
      display: grid;
      grid-template-rows: auto 1fr 200px;
      grid-template-columns: 1fr;
      height: 100vh;
      @media screen and (max-width: 768px) {
        height: auto;
      }
    }
  }
  .list-view-pf-description {
    width: 100%;
  }
  .list-view-pf-logo {
    img {
      width: 4em;
    }
  }
  .continue {
    text-align: center;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.0), #fff 26%, #fff 74%, rgba(255, 255, 255, 0.0));
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .card-pf-title {
    display: inline-flex;
    button {
      position: absolute;
      top: 15px;
      right: 30px;
    }
    &--title {
      display: inline-flex;
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #d7d7d7;
    }
  }
  .card-pf-body--body {
    height: 300px;
    &_header {
      font-weight: 600;
    }
    &_logo {
      display: grid;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;
    }
  }
  .card-pf-footer {
    &--title {
      font-weight: 600;
    }
    &--logo {
      background-color: @color-pf-black-200;
      // margin-right: -20px;
      // margin-bottom: -10px;
      // margin-left: -20px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: absolute;
      bottom: 19px;
      right: 10px;
      left: 10px;
      height: 73px;
      img {
        display: block;
        margin: auto;
      }
    }
  }
  .card-pf-body-description {
    background-color: #f7f7f7;
    // height: 75px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  &-container {
    display: grid;
    grid-template-areas: 'nav content';
    height: 100vh;
    grid-template-columns: 250px 1fr;
    @media screen and (max-width: 768px) {
      grid-template-areas: 'content';
      grid-template-columns: 1fr;
    }
    &_nav {
      @media screen and (max-width: 768px) {
        display: none;
      }
      grid-area: nav;
      display: flex;
      height: 100vh;
      align-items: center;
      background-color: @color-pf-black-900;
      position: fixed;
      // top: 60px;
      left: 0;
      width: 250px;
      .vertical-bar {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        // align-content: space-between;
        // align-self: flex-start;
        background-color: @color-pf-black-700;
        width: 25px;
        height: 90vh;
        border-radius: 10px;
        margin-left: 15px;
        a {
          margin-left: -15px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-left: 3px solid;
          border-left-color: transparent;
          font-weight: 700;
          height: 40px;
          transition: background .3s ease-in-out;
            -webkit-transition: background .3s ease-in-out;
            -moz-transition: background .3s ease-in-out;
        }
        &_steps {
          color: @color-pf-black-400;
          padding-left: 20px;
          &--1,
          &--2,
          &--3,
          &--4,
          &--5 {
            padding-left: 17px;
            width: 250px;
            color: #bbb;
            &:active,
            &:focus,
            &:hover {
              background-color: @color-pf-black-700;;
              text-decoration: none;
            }
            &:active,
            &:focus {
              border-left: 3px solid;
              /* stylelint-disable */
              border-left-color: @color-pf-blue-300 !important;
              .step-circle {
                background-color: @color-pf-blue-300;
	              border: solid 1px @color-pf-black-700;
              }
              /* stylelint-enable */
            }
          }
          &--title {
            vertical-align: top;
          }
        }
      }
    }
    &_main {
      grid-area: content;
      display: grid;
      grid-template-rows: 50px 100vh 100vh 100vh 100vh 100vh 50px;
      background-color: #d7d7d7;
      padding-left: 15px;
      @media screen and (max-width: 768px) {
        grid-template-rows: 50px repeat(5, auto) 50px;
      }
    }
  }
  /* Icons */
  .step-circle {
    border: 1px solid #303030;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d7d7d7;
    color: #d7d7d7;
    margin-right: 5px;
    display: inline-flex;
  }
  .tag-featured {
    padding: 2px 5px;
    background-color: #0088ce;
    color: #fff;
    font-size: .9em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .box {
    display: inline-block;
    border: 1px solid #d7d7d7;
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-right: 15px;
    i {
      vertical-align: middle;
    }
  }
  .pipeline-stages {
    display: inline-flex;
    justify-content: space-evenly;
    &-line {
      border-bottom: 5px solid @color-pf-blue;
      padding-left: 15px;
      padding-right: 15px;
    }
    &:before {
      width: 20px;
      height: 5px;
      background-color: @color-pf-blue;
    }
  }
  /* Content */
  #section0 {
    min-height: 50px;
  }
    #MissionRuntime,
    #TargetEnvironment,
    #ReleaseStrategy,
    #GitProvider,
    #ProjectSummary {
    // min-height: 400px;
    // padding-bottom: 200px;
    margin-top: 100px;
    box-shadow: 0 -2px 2px #d7d7d7;
    border-bottom: 1px solid #030303;
  }
  #MissionRuntime {
    margin-top: 0;
  }
}
