<section id="GitProvider" class="f8launcher-section-git-provider f8launcher-container_main--inside"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'GitProvider')"
          [debounce]="500">Import Existing Application</h1>
      <p>
        To import an existing application, you must include the necessary GitHub information to complete the importing proces.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="col-xs-12 f8launcher-provider-card">
        <div class="col-xs-4 f8launcher-provider-card-icon">
          <h2>GitHub Information</h2>
          <i class="fa fa-github"></i>
        </div>
        <div class="col-xs-8 f8launcher-provider-card-information">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="ghAccount" class='col-sm-2 control-label'>Connected Account</label>
                <!-- Enable Access-Conrtol-Expose-Headers for CORS to test -->
                <!-- <div class="f8launcher-provider-card-information-authorize"> -->
              <div class="col-sm-10">
                <img height="30px" width="30px" [src]="launcherComponent.summary?.gitHubDetails?.avatar"
                     *ngIf="launcherComponent.summary?.gitHubDetails?.avatar !== undefined">
                <span *ngIf="launcherComponent.summary?.gitHubDetails?.login !== undefined">
                  {{launcherComponent.summary?.gitHubDetails?.login}}
                  <i class="pficon pficon-ok padding-left-5"></i>
                </span>
                <!-- <i class="fa fa-ban" *ngIf="launcherComponent.summary?.gitHubDetails?.avatar === undefined"></i> -->
                <!-- <span class="f8launcher-username"
                      *ngIf="launcherComponent.summary?.gitHubDetails?.login === undefined"> None
                </span> -->
                <button class="btn btn-link f8launcher-authorize-account"
                        *ngIf="launcherComponent.summary?.gitHubDetails?.login === undefined"
                        [disabled]="launcherComponent.summary?.gitHubDetails?.authenticated === true"
                        (click)="connectAccount($event)">Click here to authorize your GitHub account <i class="fa fa-external-link"></i></button>
                <div class="has-error">
                  <span class="help-block">Something went wrong. Please try to reconnect your GitHub account.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="ghOrg" class="col-sm-2 control-label">Organization</label>
              <div class="col-sm-10">
                <select id="ghOrg" class="form-control" name="ghOrg" placeholder="Select organization" #versionSelect
                        [disabled]="launcherComponent.summary?.gitHubDetails?.organizations === undefined"
                        [(ngModel)]="launcherComponent.summary.gitHubDetails.organization"
                        (ngModelChange)="updateGitHubSelection()">
                  <option [ngValue]="undefined" selected>Select</option>
                  <option [ngValue]="org"
                          *ngFor="let org of launcherComponent.summary.gitHubDetails.organizations">
                    {{org}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="ghRepo" class="col-sm-2 control-label">Repository</label>
              <div class="col-sm-10"
                   [ngClass]="{'has-error': launcherComponent.summary?.gitHubDetails?.repositoryAvailable === false}">
                <input id="ghRepo" class="form-control" name="ghRepo" type="text"
                       placeholder="Enter a unique name for your repository"
                       [disabled]="launcherComponent.summary?.gitHubDetails?.organization === undefined"
                       [(ngModel)]="launcherComponent.summary.gitHubDetails.repository"
                       (ngModelChange)="updateGitHubSelection()"
                       (keyup)="validateRepo()">
                <span class="help-block"
                      *ngIf="launcherComponent.summary?.gitHubDetails?.repositoryAvailable === false">
                  Duplicate Name: {{duplicateNameMessage}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid f8launcher-provider-card-toolbar">
      <pfng-toolbar [config]="toolbarConfig"
                    (onFilterChange)="filterChanged($event)"
                    (onSortChange)="sortChanged($event)">
      </pfng-toolbar>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-primary"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">Import Repository</button>
      </div>
    </div>
  </div>
</section>
