<section id="ActivateBooster" class="f8launcher-section-activate-booster">
  <div>
    <div class="container-fluid">
      <h1>Next Steps: Activate Booster</h1>
      <p>
        There are multiple pipelines available to deploy your application. Each has 4 different stages with a varying set of capabilities. Stages of the piplines include: build release, integration testing, staging and running an application.
      </p>
      <p>
        There is a pre-selected, suggested pipeline based on the selected mission and technology.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Commands to Activate Booster
              </h2>
            </div>
            <div class="card-pf-body">
              <pre>
                $ unzip {{wizardComponent.summary.dependencyCheck.projectName}}.zip
                $ cd {{wizardComponent.summary.dependencyCheck.projectName}}
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <a href="btn btn-link">Return to My Dashboard</a>
      </div>
    </div>
  </div>
</section>
