<section id="ActivateBooster" class="f8launcher-section-activate-booster">
  <div>
    <div class="container-fluid">
      <h1>Next Steps: Activate Booster</h1>
      <p>
        You can now start interacting, experimenting, and building with your application.  For further instructions on how to run and interact with your booster, refer to the README.doc included in the ZIP file.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12">
          <div class="card-pf">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Commands to Activate Booster
              </h2>
            </div>
            <div class="card-pf-body">
              <pre>
                $ unzip {{launcherComponent.summary.dependencyCheck.projectName}}.zip
                $ cd {{launcherComponent.summary.dependencyCheck.projectName}}
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <a href="btn btn-link">Return to My Dashboard</a>
      </div>
    </div>
  </div>
</section>
