<section id="TargetEnvironment" class="f8launcher-section-target-environment f8launcher-container_main--inside"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'TargetEnvironment')"
          [debounce]="500">
          Select Target Environment
        </h1>
      <p>
        Choose the environment where the application will be deployed.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div (click)="targetRadio?.click()" class="col-xs-12 col-md-6" *ngFor="let targetEnv of targetEnvironments">
          <div [ngClass]="{'selected-card': targetEnv.id === launcherComponent?.summary?.targetEnvironment}" class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf--medium">
            <div class="card-title">
              <input name="target-environment" type="radio"
                     #targetRadio
                     [(ngModel)]="launcherComponent.summary.targetEnvironment"
                     [value]="targetEnv.id"
                     (ngModelChange)="updateTargetEnvSelection()">
              <h2 class="card-pf-title--title">{{targetEnv.header}}</h2>
            </div>
            <div class="card-pf-body--body">
              <h3 class="card-pf-body--body_header">Benefits</h3>
              <ul>
                <li *ngFor="let benefit of targetEnv.benefits">
                  {{benefit}}
                </li>
              </ul>
            </div>
            <div class="card-pf-footer">
              <span class="card-pf-footer--title">{{targetEnv.footer}}</span>
              <p>
                {{targetEnv.description}}
              </p>
              <div class="card-pf-footer--logo">
                <img [class]="targetEnv.styleClass"
                     [src]="_DomSanitizer.bypassSecurityTrustUrl(targetEnv.icon)"
                     *ngIf="targetEnv.icon !== null">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-primary"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">Continue</button>
        <button class="btn btn-default" (click)="launcherComponent.cancel()">Cancel</button>
      </div>
    </div>
  </div>
</section>
