<section id="TargetEnvironment" class="f8launcher-section-target-environment f8launcher-container_main--inside"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'TargetEnvironment')"
          [debounce]="500">
          Select Target Environment
        </h1>
      <p>
        Choose the environment where the application will be deployed.
      </p>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12 col-md-6" *ngFor="let targetEnv of targetEnvironments"
             (click)="launcherComponent.summary.targetEnvironment = targetEnv.id; updateTargetEnvSelection()">
          <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf--medium"
               [ngClass]="{'selected-card': targetEnv.id === launcherComponent?.summary?.targetEnvironment}">
            <div class="card-title">
              <input name="target-environment" type="radio"
                     [(ngModel)]="launcherComponent.summary.targetEnvironment"
                     [value]="targetEnv.id"
                     (ngModelChange)="updateTargetEnvSelection()">
              <h2 class="card-pf-title--title">{{targetEnv.header}}</h2>
            </div>
            <div class="card-pf-body--body">
              <ul>
                <li *ngFor="let benefit of targetEnv.benefits">
                  {{benefit}}
                </li>
              </ul>

              <p class="text-center" *ngIf="targetEnv.clusters?.length === 0">
                <button class="btn btn-sm btn-danger" (click)="linkAccounts.open()">Grant Access</button>
              </p>

              <p class="text-center" *ngIf="targetEnv.clusters?.length > 0">
                <button class="btn btn-sm btn-default" (click)="linkAccounts.open()">
                  <span class="glyphicon glyphicon-cog"></span> Configure tokens
                </button>
              </p>

              <div class="dropdown text-center" dropdown *ngIf="targetEnv.clusters?.length > 1">
                <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
                  <span *ngIf="!launcherComponent.summary.cluster">Select cluster</span>
                  <span *ngIf="launcherComponent.summary.cluster">{{launcherComponent.summary.cluster.id}}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu cluster" role="menu" *dropdownMenu
                    [attr.aria-labelledby]="i + 'dropdown'">
                  <li *ngFor="let cluster of targetEnv.clusters">
                    <a href="javascript:void(0)" class="dropdown-item" role="menuitem" tabindex="-1"
                      (click)="launcherComponent.summary.cluster = cluster">{{cluster.id}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-pf-footer">
              <span class="card-pf-footer--title">{{targetEnv.footer}}</span>
              <p>
                {{targetEnv.description}}
              </p>
              <div class="card-pf-footer--logo">
                <img [class]="targetEnv.styleClass"
                     [src]="_DomSanitizer.bypassSecurityTrustUrl(targetEnv.icon)"
                     *ngIf="targetEnv.icon !== null">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-link" [ngClass]="{'animate-continue': stepCompleted === true}" [disabled]="stepCompleted !== true"
          (click)="navToNextStep()">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-double-down fa-stack-1x fa-inverse"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

<modal #linkAccounts modalClass="modal-lg">
  <modal-content>
    <f8launcher-link-accounts-createapp-step></f8launcher-link-accounts-createapp-step>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="linkAccounts.close()">Done</button>
  </modal-footer>
</modal>
