<section id="MissionRuntime" class="f8launcher-section-mission-runtime f8launcher-container_main--start"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'MissionRuntime')"
          [debounce]="500">
        Select Mission & Runtime
      </h1>
      <div class="col-xs-12 col-md-6 f8launcher-section-mission-runtime-desp">
        <p>
          Choose a mission and runtime to create a booster or sample application.You set up a booster to generate 
          source code and specifications for your new application.
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <button class="btn btn-default pull-right" type="button"
              [disabled]="selectionAvailable !== true"
              (click)="resetSelections()">
          Clear Selections
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-12 col-md-6">
          <div class="card-pf card-pf--small">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Choose a mission
              </h2>
              <p>
                A specification that describes what your application will do.
              </p>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf"
                   [ngClass]="{'prerequisite': mission.prerequisite !== undefined,
                               'suggested': mission.suggested === true,
                               'contribute': isMissionDisabled(mission) === true}"
                   *ngFor="let mission of (missions | sortArray: 'suggested': true)">
                <div class="list-group-item list-view-pf-stacked list-view-pf-top-align"
                     [ngClass]="{'disabled': isMissionDisabled(mission) === true, 'selected-list-item': missionId === mission.id}">
                  <div class="list-group-item-header"
                       *ngIf="mission.prerequisite !== undefined || mission.suggested === true || isMissionDisabled(mission) === true">
                    <div class="f8launcher-tags"
                         [ngClass]="{'prerequisite': mission.prerequisite !== undefined,
                                     'suggested': mission.suggested === true,
                                     'contribute': isMissionDisabled(mission) === true}">
                      <ng-template #missionContributeTemplate>
                        This mission and runtime combination is not currently available, but you can contribute to our
                        <a href='https://appdev.openshift.io/docs/contrib-guide.html#_documentation' target="_blank">library</a>
                        and help us expand these offerings.
                      </ng-template>
                      <span class="f8launcher-tags-label contribute" container="body" triggers="click"
                            outsideClick="true"
                            [popover]="missionContributeTemplate"
                            *ngIf="isMissionDisabled(mission) === true">
                        Contribute <i class="pficon pficon-info"></i>
                      </span>
                      <span class="f8launcher-tags-label suggested" container="body" triggers="click"
                            outsideClick="true"
                            popover="This mission will get you started with a bare bones working application."
                            *ngIf="mission.suggested === true">
                        Suggested <i class="pficon pficon-info"></i>
                      </span>
                      <span class="f8launcher-tags-label prerequisite" container="body" triggers="click"
                            outsideClick="true"
                            popover="{{mission.prerequisite}}"
                            *ngIf="mission.prerequisite !== undefined">
                        Prerequisite <i class="pficon pficon-info"></i>
                      </span>
                    </div>
                  </div>
                  <div class="list-view-pf-checkbox">
                    <input type="radio" name="mission"
                           [disabled]="isMissionDisabled(mission) === true"
                           [(ngModel)]="missionId"
                           [value]="mission.id"
                           (ngModelChange)="updateMissionSelection(mission)">
                  </div>
                  <div class="list-view-pf-main-info"
                       (click)="updateMissionSelection(mission)">
                    <div class="list-view-pf-body f8launcher-section-mission">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          {{mission.name}}
                        </div>
                        <div class="list-group-item-text" *ngIf="mission.description">
                          <span *ngIf="mission.showMore !== true">
                            {{mission.description | truncate: 55}}
                          </span>
                          <span *ngIf="mission.showMore === true">
                            {{mission.description}}
                          </span>
                          <span class="description-more">
                            <a href="javascript:void(0)"
                               (click)="mission.showMore = (mission.showMore !== undefined)
                                        ? !mission.showMore : true; $event.stopPropagation()">
                              {{(mission.showMore !== true) ? 'More' : 'Less'}}
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-pf card-pf--small">
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Choose a runtime
              </h2>
              <p>
                The framework software used in the application's process
              </p>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf"
                   [ngClass]="{'prerequisite': runtime.prerequisite !== undefined,
                               'suggested': runtime.suggested === true,
                               'contribute': isRuntimeDisabled(runtime) === true}"
                   *ngFor="let runtime of runtimes; let i = index">
                <div class="list-group-item list-view-pf-stacked list-view-pf-top-align"
                     [ngClass]="{'disabled': isRuntimeDisabled(runtime) === true, 'selected-list-item': runtimeId === runtime.id}">
                  <div class="list-group-item-header"
                       *ngIf="runtime.prerequisite !== undefined || runtime.suggested === true || isRuntimeDisabled(runtime) === true">
                    <div class="f8launcher-tags"
                         [ngClass]="{'prerequisite': runtime.prerequisite !== undefined,
                                     'suggested': runtime.suggested === true,
                                     'contribute': isRuntimeDisabled(runtime) === true}">
                      <ng-template #runtimeContributeTemplate>
                        This mission and runtime combination is not currently available, but you can contribute to our
                        <a href='https://appdev.openshift.io/docs/contrib-guide.html#_documentation' target="_blank">library</a>
                        and help us expand these offerings.
                      </ng-template>
                      <span class="f8launcher-tags-label contribute" container="body" triggers="click"
                            outsideClick="true"
                            [popover]="runtimeContributeTemplate"
                            *ngIf="isRuntimeDisabled(runtime) === true">
                        Contribute <i class="pficon pficon-info"></i>
                      </span>
                      <span class="f8launcher-tags-label suggested" container="body" triggers="click"
                            outsideClick="true"
                            popover="This runtime will get you started with a bare bones working application."
                            *ngIf="runtime.suggested === true">
                        Suggested <i class="pficon pficon-info"></i>
                      </span>
                      <span class="f8launcher-tags-label prerequisite" container="body" triggers="click"
                            outsideClick="true"
                            popover="{{runtime.prerequisite}}"
                            *ngIf="runtime.prerequisite !== undefined">
                        Prerequisite <i class="pficon pficon-info"></i>
                      </span>
                    </div>
                  </div>
                  <div class="list-view-pf-checkbox">
                    <input name="runtime" type="radio"
                           [disabled]="isRuntimeDisabled(runtime) === true"
                           [(ngModel)]="runtimeId"
                           [value]="runtime.id"
                           (ngModelChange)="updateRuntimeSelection(runtime)">
                  </div>
                  <div class="list-view-pf-main-info"
                       (click)="updateRuntimeSelection(runtime)">
                    <div class="list-view-pf-body f8launcher-section-runtime"
                         (click)="updateRuntimeSelection(runtime)">
                      <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                          {{runtime.name}}
                          <div *ngIf="launcherComponent?.flow !== 'osio'" class="dropdown" dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle
                                    [disabled]="isRuntimeDisabled(runtime) === true">
                              {{runtime.version?.name}}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" *dropdownMenu
                                [attr.aria-labelledby]="i + 'dropdown'">
                              <li [ngClass]="{'disabled': isRuntimeDisabled(runtime) === true}"
                                  *ngFor="let version of getRuntimeVersions(runtime)">
                                <a href="javascript:void(0)" class="dropdown-item" role="menuitem" tabindex="-1"
                                   (click)="updateVersionSelection(runtime, version)"
                                   *ngIf="isRuntimeDisabled(runtime) !== true">{{version.name}}</a>
                                <a href="javascript:void(0)" class="dropdown-item" role="menuitem"
                                   *ngIf="isRuntimeDisabled(runtime) === true">{{version.name}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="list-group-item-text" *ngIf="runtime.description">
                          <span *ngIf="runtime.showMore !== true">
                            {{runtime.description | truncate: 55}}
                          </span>
                          <span *ngIf="runtime.showMore === true">
                            {{runtime.description}}
                          </span>
                          <span class="description-more">
                            <a class="description-more" href="javascript:void(0)"
                               (click)="runtime.showMore = (runtime.showMore !== undefined)
                                        ? !runtime.showMore : true; $event.stopPropagation()">
                              {{(runtime.showMore !== true) ? 'More' : 'Less'}}
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-fluid">
      <div class="f8launcher-continue">
        <button class="btn btn-link"
                [ngClass]="{'animate-continue': stepCompleted === true}"
                [disabled]="stepCompleted !== true"
                (click)="navToNextStep()">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-double-down fa-stack-1x fa-inverse"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
