<section id="ProjectSummary" class="f8launcher-section-project-summary f8launcher-container_main--end"
         [ngClass]="{'hidden': hidden}">
  <div>
    <div class="container-fluid">
      <h1 snInViewport (onInViewportChange)="launcherComponent.onInViewportChange($event, 'ProjectSummary')"
          [debounce]="500">Confirm Application Summary & Setup</h1>
    </div>
  </div>
  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12">
        <div class="card-pf card-pf--small">
          <div *ngIf="launcherComponent.summary?.pipeline === undefined;
                      then showNoPipelineTemplate else showPipelineTemplate"></div>
          <ng-template #showNoPipelineTemplate>
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Pipeline
              </h2>
            </div>
            <div class="card-pf-body f8launcher-project-summary-data-unavailable">
              <h2>
                <b>Optional</b>
              </h2>
              <p>A pipeline is not required to proceed; however, if you wish to select a pipeline for this application, complete this section.</p>
              <button class="btn btn-default btn-lg f8launcher-authorize-account"
                      (click)="navToStep('ReleaseStrategy')">Optional Section</button>
            </div>
          </ng-template>
          <ng-template #showPipelineTemplate>
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                Pipeline
              </h2>
            </div>
            <div class="card-pf-body">
              <div class="list-group list-view-pf list-view-pf-view">
                <div class="list-group-item">
                  <div class="list-group-item-header">
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-heading">
                            <b>{{launcherComponent.summary?.pipeline?.name}}</b>
                          </div>
                          <div class="list-group-item-text">
                            <b>{{launcherComponent.summary?.pipeline?.stages.length}}</b> Stages
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item-container container-fluid">
                    <div class="row">
                      <div class="col-md-12 f8launcher-pipeline-stages">
                        <ng-container *ngFor="let stage of launcherComponent.summary?.pipeline?.stages; let i = index">
                          <span class="f8launcher-pipeline-stages--line">{{stage.name}}</span>
                          <span class="f8launcher-pipeline-stages--arrow"
                                *ngIf="i !== launcherComponent.summary?.pipeline?.stages.length - 1"></span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf">
      <div class="col-xs-12">
        <div class="card-pf card-pf--small">
          <div *ngIf="launcherComponent.summary?.gitHubDetails?.authenticated !== true
                      || launcherComponent.summary?.gitHubDetails?.organization === undefined
                      || launcherComponent.summary?.gitHubDetails?.repository === undefined
                      || launcherComponent.summary?.gitHubDetails?.repositoryAvailable !== true;
                      then showNoGitHubTemplate else showGitHubTemplate"></div>
          <ng-template #showNoGitHubTemplate>
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                GitHub
              </h2>
            </div>
            <div class="card-pf-body f8launcher-project-summary-data-unavailable">
              <h2>
                <b>Incomplete</b>
              </h2>
              <p>To proceed with setting up this application, this section must be completed.</p>
              <button class="btn btn-default btn-lg f8launcher-authorize-account"
                      (click)="navToStep('GitProvider')">Complete Section</button>
            </div>
          </ng-template>
          <ng-template #showGitHubTemplate>
            <div class="card-pf-heading">
              <h2 class="card-pf-title">
                GitHub
              </h2>
            </div>
            <div class="card-pf-body card-column">
              <div class="card-column-single">
                <form class="form-horizontal">
                  <div class="form-group f8launcher-project-summary-data-form-group">
                    <label class="col-xs-2 control-label">Authorized Account</label>
                    <div class="col-xs-8 f8launcher-project-summary-data-field">
                      <span>{{this.launcherComponent.summary.gitHubDetails.url}}</span>
                    </div>
                  </div>
                  <div class="form-group f8launcher-project-summary-data-form-group">
                    <label class="col-xs-2 control-label">Organization</label>
                    <div class="col-xs-8 f8launcher-project-summary-data-field">
                      <span>{{this.launcherComponent.summary.gitHubDetails.organization}}</span>
                    </div>
                  </div>
                  <div class="form-group f8launcher-project-summary-data-form-group">
                    <label class="col-xs-2 control-label">Repository URL</label>
                    <div class="col-xs-8 f8launcher-project-summary-data-field">
                      <span>{{this.launcherComponent.summary.gitHubDetails.htmlUrl}}</span>
                    </div>
                  </div>
                  <div class="form-group f8launcher-project-summary-data-form-group">
                    <label class="col-xs-2 control-label">Repository Description</label>
                    <div class="col-xs-8 f8launcher-project-summary-data-field">
                      <span *ngIf="launcherComponent.summary?.gitHubDetails?.description !== false">
                        {{this.launcherComponent.summary?.gitHubDetails?.description}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group f8launcher-project-summary-data-form-group">
                    <label class="col-xs-2 control-label">Repository Visibility</label>
                    <div class="col-xs-8 f8launcher-project-summary-data-field">
                      <span *ngIf="launcherComponent.summary?.gitHubDetails?.visibility !== false
                                      then showGitHubPrivate else showGitHubPublic"></span>
                      <ng-template #showGitHubPrivate>
                        <span>Private</span>
                      </ng-template>
                      <ng-template #showGitHubPublic>
                        <span>Public</span>
                      </ng-template>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="f8launcher-continue">
      <button class="btn btn-primary"
              [disabled]="stepCompleted !== true"
              (click)="setup()">Import</button>
    </div>
  </div>
</section>
